# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
data/
key.json
.env
Interface/secrets.json
Interface/__pycache__/
api/__pycache__/
secrets.json
.DS_Store
Interface/.streamlit/
Interface/__pycache__
api/__pycache__





# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
